@import 'tailwindcss';

@layer base {
  html {
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
}

::-webkit-scrollbar {
  display: none;
}

.rich-text p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.rich-text span {
  color: #cad5e2 !important;
}

.rich-text h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 0.5rem;
}

.rich-text ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
  counter-reset: item;
}

.rich-text ol li {
  display: block;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  color: #4b5563;
  position: relative;
  counter-increment: item;
  padding-left: 0.5rem;
}

.rich-text ol li::before {
  content: counter(item) '.';
  font-weight: 600;
  color: #3b82f6;
  position: absolute;
  left: -1.5rem;
  width: 1.5rem;
  text-align: right;
}

.rich-text strong {
  font-weight: 600;
  color: white !important;
}

.text-black {
  color: white !important;
}
